@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    background-color: aqua;
}

@keyframes holographic {
    0% {
      transform: rotate(0deg) translateX(0) translateY(0);
    }
    30% {
      transform: rotate(360deg) translateX(100px) translateY(-100px);
    }
  }
  
  .animate-holographic {
    animation: holographic 20s linear infinite;
  }
  
  @keyframes text-glow {
    0% {
      text-shadow: 0 0 10px rgba(59, 130, 246, 0.8), 0 0 20px rgba(168, 85, 247, 0.8);
    }
    50% {
      text-shadow: 0 0 20px rgba(59, 130, 246, 0.8), 0 0 40px rgba(168, 85, 247, 0.8);
    }
    
  }
/*   
  .animate-text-glow {
    animation: text-glow 3s ease-in-out infinite;
  } */